.movie-detail-active {
   position: absolute;
   z-index: 55;

   display: flex;
   flex-direction: column;
   align-items: flex-end;

   max-width: 750px;
   min-height: 500px;
   padding: 20px;
   padding-top: 25px !important;
   border: 3px #898787 solid;
   border-radius: 4%;
   background-color: rgba(0, 0, 0, 0.866);
}

.loading {
   color: #fff;
   font-size: 21px;
   top: 100px;
   left: 100px;
   position: absolute;
   z-index: 9999;
}

.result-content-loading{
   width: 750px;
   min-height: 300px;
}