body{
   height: 100%;
   background-color: rgb(0, 0, 0);
}

.wrapper{
   min-height: 100%;
}

.container {
   width: 1200px;
   margin: 0 auto;
   /* overflow: auto; */
}

/* Link */

.linkPage{
   color: white;
}

.active-link {
   color: white;
   padding-bottom: 4px;
   border-bottom: 1px solid white;
}

.hover {
   color: rgb(212, 212, 209);
}

a {
   margin: 20px;
   text-decoration: none;
}

a:hover {
   color: rgb(197, 196, 198);
}



/* Main */

main {
   
   color: white;
   padding-bottom: 100px;
}

/* .background{
   background-color: rgb(17, 17, 19);
} */

/* Footer */

footer {
   background-color: black;
   height: 200px;
   margin-top: -100px;
}

.footer-content {
   padding: 20px;
   background-color: black;
   /* margin: auto; */
   display: flex;
   justify-content: space-between;
}

.footer-icon-wrap{
   display: flex;
   margin: 10px 40px;
}

.footer-icon{
   margin: 5px;
}

.fa-brands{
   color: #9f9f9fe7;
}

.fa-brands:hover{
   color: #ffffff;
   transition: 0.3s;
   cursor: pointer;
}

.footer-logo{
   margin-top: 20px;
}

.footer-info-left{
   display: flex;
   flex-direction: column;
}

.footer__bottom-info{
   color: rgba(255, 255, 255, 0.3);
   font-size: 12px;
   margin-left: 20px;
   margin-top: 50px;
}

.footer-info-right{
   color: rgba(255, 255, 255, 0.3);
   display: flex;
   justify-content: center;
   align-items: end;
   flex-direction: column;
}

.footer-info-right h3{
   margin: 15px;
   font-size: 12px;
}

/* icon */

.fa-regular{
   color: #ffffff;
   margin-top: auto ;
   margin-bottom: auto;
   margin-left: auto;
   /* max-width: 50px; */
}

.fa-regular:hover{
   color: rgb(121, 69, 121);
}

.link-person::before{
   border: none !important; 
   color: rgb(212, 126, 212) !important;
}

