/* banner */

.banner {
   height: 600px;
   position: relative;
}

.banner-header {
   position: absolute;
   z-index: 50;
   top: 35%;
   left: 20%;
   font-size: 37px;
   height: 50px;
}

.banner-header-h3{
   margin-top: 50px;
   margin-left: 40%;
}

.banner-btn-tosearch{
   position: absolute;
   z-index: 50;
   top: 57%;
   left: 40%;
   color: #ffffff;
   /* border: #ffffff 1px solid; */
   border-radius: 5px;
   width: 200px;
   height: 70px;
   background-color: #8e4086;
   display: flex;
   align-items: center;
   justify-content: center;

   font-size: 18px;
   font-weight: 500;
}

.banner-btn-tosearch:hover{
   background-color: #672d61;
   transition: 0.2s;
}

.banner-ImgBackground {
   height: 100%;
   width: 100%;

}

.gradient {
   display: inline-block;
   position: relative;
   line-height: 0;
   height: 600px;
   width: 100%;
}

.gradient:after {
   content: "";
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: transparent;
   background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%);
   opacity: 0.8;
}

/* blokSearch */

.blokSearch{
   display: flex;
   min-height: 500px;
   background-color: rgb(19, 19, 19);
}

.blokSearch__content{
   display: flex;
   justify-content: space-between;
   margin-top: 50px;
}

.input-search-wrap{
   display: flex;
   flex-direction: column;
   margin-right: 100px;
}

.search-header{
   margin-right: 20px;
   font-size: 26px;
   margin-bottom: 30px;
}

.input-search{
   padding: 15px 20px;
   height: 60px;
   width: 350px;
   border-radius: 4px;
   border: none;
}

.input-search:focus {
   color: #000000;
   background-color: #ffffff;
   border-color: #ffffff;
   outline: 0;
   box-shadow: 0 0 0 0.3rem rgba(177, 93, 163, 0.554);
}


@media (max-width: 1000px) {

   .banner-header {
      font-size: 25px;
   }
   
      .banner-btn-tosearch {

         top: 51%;
         left: 36%;
         width: 170px;
         height: 60px;
   
         font-size: 14px;
         font-weight: 500;
      }
}

