::-webkit-scrollbar {
   display: none;
}

.movie-detail-active{
   position: absolute;
   z-index: 55;

   display: flex;
   flex-direction: column;
   align-items: end;

   top: 200px;
   left: 200px;
   max-width: 750px;
   min-height: 500px;
   padding: 20px;
   padding-top: 25px !important;
   border: 3px #898787 solid;
   border-radius: 4%;
   background-color: rgba(0, 0, 0, 0.866);
}

.btn-close-movie-detail{
   background-color: none;
}

.fa-xmark{
   color: #dcdde0
}

.search-result{
   /* background-color: rgb(12, 12, 12); */
   min-height: 700px;
   height: auto;
   position: relative;
   /* height: 100%; */
   border-top: rgb(12, 12, 12) 8px solid;
   /* overflow: auto; */
}

.search-result-content{
   margin-top: 40px;
   margin-bottom: 40px;
   position: relative;
   
}

.search-result-title{
   font-size: 21px;
   overflow: hidden;
}

.search-result-list {
   display: flex;
   max-width: 1200px;
   
   min-height: 600px;
   height: auto;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   /* position: relative; */
}

.search-result-list-item {
   display: flex;
   flex-direction: column;
   height: 300px;
   width: 200px;
   margin: 10px;
   align-items: center;
   justify-content: center;
}

.search-result-list-item:hover{
   background: #020202a6;
   cursor: pointer;
   transition: 0.3s;
}

.search-result-list-item-thumbnail {
   height: 200px;
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}

.search-result-list-item-thumbnail img {
   height: 200px;
   width: 150px;
}

.search-result-list-item-info h3 {
   font-size: 16px;
   color: rgb(212, 126, 212);
   max-height: 25px;
   max-width: 170px;
   overflow: hidden;
}

img {
   max-width: 100%;
   height: auto
}

.btn-next-page{
   width: 200px;
}


