.favourite-list {
   padding: 30px;
   display: flex;
   max-width: 1200px;
   flex-wrap: wrap;
}

.favourite-list-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 300px;
   width: 200px;
   margin: 10px;
   position: relative;

}

/* .favourite-list-item::before{
   display: none;
   content: '';
   position: absolute;
   background-color: rgba(182, 84, 84, 0.532);
   height: 300px;
   width: 200px;
} */

.favourite-list-item:hover{

   /* position: absolute; */

   cursor: pointer;
}

.favourite-list-item-thumbnail {
   height: 200px;
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}

.favourite-list-item-thumbnail img {
   height: 200px;
   width: 150px;
}

.favourite-list-item-info{
   height: 80px;
   max-width: 180px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.favourite-list-item-info h3 {
   font-size: 16px;
   color: rgb(212, 126, 212)
}

.fa-xmark{
   color: rgba(107, 105, 105, 0.754);

}

.fa-xmark:hover{
   color: rgb(200, 196, 200);
   transition: 0.4ms;
}

.btn-delete{
   position: absolute;
   z-index: 999;
   display: flex;
   justify-content: flex-end;

   /* width: 200px;
   height: 300px; */

   /* padding-right: 30px;
   padding-top: 10px; */
   top: 10px;
   left:180px;
   
}

/* .btn-delete::before{
   width: 200px;
   height: 300px;
} */

@media (max-width: 1000px) {
   .favourite h3{
      font-size: 16px;
      margin-top: 20px;
   }

   .favourite-title{
      margin-left: 40px;
   }

   .favourites__nothing{
      margin-left: 40px;
   }
}