.favourite-list {
   padding: 30px;
   display: flex;
   max-width: 1200px;
   flex-wrap: wrap;
}

.favourite-list-item {
   display: flex;
   flex-direction: column;
   height: 300px;
   max-width: 200px;
   margin: 20px;
   position: relative;
}

.favourite-list-item-thumbnail {
   height: 200px;
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 10px;
}

.favourite-list-item-thumbnail img {
   height: 200px;
   width: 150px;
}

.favourite-list-item-info{
   max-height: 40px;
}

.favourite-list-item-info h3 {
   font-size: 16px;
   color: rgb(212, 126, 212)
}

.fa-trash-can{
   color: white;
}

.fa-trash-can:hover{
   color: rgb(212, 126, 212)
}

.btn-delete{
   position: absolute;
   display: flex;
   justify-content: flex-end;
   padding-right: 30px;
   padding-top: 10px;
   top: 260px;
   left:120px
}

@media (max-width: 1000px) {
   .favourite h3{
      font-size: 16px;
      margin-top: 20px;
   }

   .favourite-title{
      margin-left: 40px;
   }

   .favourites__nothing{
      margin-left: 40px;
   }
}