/* Header */

header {
   background: #000;
   height: 100px;
   flex: 1 0 auto;
}

.header-content {
   display: flex;
}

.logo {
   max-height: 100px;
   max-width: 250px;
}

.logo-wrap {
   max-width: 250px;
   margin: 0 0 0 -20px;
}

.header-menu {
   margin: 20px;
   margin-left: 200px;
   margin-right: 120px;
   text-align: center;
   display: flex;
   justify-content: center;
}

.fa-regular {
   width: 30px;
}

.page-amount{
   display: flex;
   justify-content: space-between;

}

.amount-favorite{
   margin-left: 8px;
   background-color: rgba(255, 255, 255, 0.641);
   border-radius: 50%;
   width: 20px;
   height: 20px;
   color: #000;

   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 1000px) {

   header {
      background: #000;
      height: 80px;
      flex: 1 0 auto;
      /* position: fixed; */
   }
   
   a {
      font-size: 12px;
      margin: 20px;
      text-decoration: none;
   }

   .header-menu {
         margin: 20px;
         margin-left: 140px;
         margin-right: 70px;
         text-align: center;
         display: flex;
         justify-content: center;
      }

      .logo-wrap {
         max-width: 250px;
         max-height: 80px;
         margin: 0 0 0 -20px;
      }
      
      .logo {
         margin-left:40px;
         max-height: 80px;
         max-width: 160px;
      }

      .fa-circle-user {
         width: 30px;
         margin-left: 220px;
         font-size: 1.5em !important;

      }
}

