/* Header */

header {
   background-color: black;
   height: 100px;
   flex: 1 0 auto;
   /* position: fixed; */
}

.header-content {
   background-color: black;
   display: flex;
}



img {
   height: 100px;
   width: 250px;
}

.logo {
   height: 100px;
   width: 250px;
}

.logo-wrap {
   width: 250px;
   margin: 0 0 0 -20px;
}

.header-menu {
   margin: 20px;
   margin-left: 200px;
   margin-right: 120px;
   text-align: center;
   display: flex;
   justify-content: center;
}

.fa-regular {
   width: 30px;
}

