/* Header */

header {
   background: #000;
   height: 100px;
   flex: 1 0 auto;
   /* position: fixed; */
}

.header-content {
   /* background: linear-gradient(180deg, rgba(0, 0, 0, 1) 52%, rgba(0, 0, 0, 0.8926164215686274) 93%, rgba(0, 0, 0, 0.8309917717086834) 100%);; */
   display: flex;
}



img {
   height: 100px;
   width: 250px;
}

.logo {
   height: 100px;
   width: 250px;
}

.logo-wrap {
   width: 250px;
   margin: 0 0 0 -20px;
}

.header-menu {
   margin: 20px;
   margin-left: 200px;
   margin-right: 120px;
   text-align: center;
   display: flex;
   justify-content: center;
}

.fa-regular {
   width: 30px;
}

